body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.top {
  padding: 10px 10px 10px;
  margin: -10px -10px 10px;
}
.pad {
  margin: 2px; /*Margins for inner DIV inside each column (to provide padding)*/
  margin-top: 0;
}
.form {
}
.checkbox {
}
.left {
  float: left;
}
.right {
  float: right;
}
.field {
  width: 300px;
}
.fieldLabel {
  width: 150px;
  float: left;
  text-align: right;
  margin: 10px;
  margin-top: 4px;
}
.pictureSm {
  min-height: 80px;
  min-width: 80px;
  max-height: 80px;
  max-width: 80px;
  float: left;
}
.pictureMd {
  max-height: 140px;
  max-width: 140px;
  float: left;
}
.picture {
  max-height: 140px;
  max-width: 140px;
  float: left;
}
