body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.top {
  margin: 10px;
  margin-bottom: 40px;
  text-align: right;
  max-width: 500px;
}
.bottom {
  margin: 10px;
  margin-top: 40px;
}
.pad {
  margin: 4px; /*Margins for inner DIV inside each column (to provide padding)*/
  margin-top: 0px;
}
.left {
  float: left;
}
.field {
  width: 300px;
}
.list {
  min-height: 80px;
}
.fieldDisplay {
  margin: 10px;
  margin-top: 4px;
}
.leftCol {
  width: 150px;
  float: left;
  text-align: right;
  margin: 10px;
  margin-top: 4px;
}
.picture {
  max-height: 240px;
  max-width: 240px;
  float: left;
}
.pictureSm {
  max-height: 80px;
  max-width: 80px;
  float: left;
}
.pictureLg {
  max-height: 400px;
  max-width: 400px;
  float: left;
}
